<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of rooms:
  <div [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }">
    <p [innerText]="numberOfRooms"></p>
  </div>

  <div>Avaialable rooms: {{ rooms?.availableRooms ?? "No Rooms" }}</div>
</div>

<div *ngIf="selectedRoom">
  {{selectedRoom | json}}

</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"> </app-rooms-list>
</div>
<button (click)="toggle()">Toggle</button>